<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">커리어</h2>
                    <h3 class="section-subheading text-muted">매일매일 노력하며 도전해 왔습니다</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019.3. ~ Now</h4>
                                    <h4 class="subheading">아이비웰니스</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>영상팀 팀장</li>
                                        <li>유튜브 채널 관리 (80명 &rightarrow; 1만명)</li>
                                        <li>제품 홍보 영상 제작</li>
                                        <li>강연 기획/시나리오/촬영/편집</li>
                                        <li>제품 개발-런칭-판매까지<br>(카카오메이커스, 와디즈 참여)</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017.7. ~ 2018.10.</h4>
                                    <h4 class="subheading">J커리어</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>팀장/실장</li>
                                        <li>취업 관련 영상 시나리오/편집</li>
                                        <li>상세페이지 영상 편집</li>
                                        <li>상세페이지 기획</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012.5. ~ 2017.6.</h4>
                                    <h4 class="subheading">작가/영상 편집 프리랜서</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>회사 홍보 영상, 기념 영상 편집</li>
                                        <li>중학교 영어 문제집 개발 작업</li>
                                        <li>극 시나리오 작성</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010.10. ~ 2012.4.</h4>
                                    <h4 class="subheading">한국 YWCA 연합회</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                        <li>89주년 기념영상, 크리스마스 기념 영상</li>
                                        <li>행사 소개 영상, 사내 방송국 개국 영상 등</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Challenge!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
